/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.firsthalf{
    background-color: floralwhite;
    height: 300px;
}
.left, .right{
    display: inline-block;
    width:49%;
}
.right{
    border: 1px solid red;
    height: 100%;
}
button{
    background-color: salmon;
    color: springgreen;
}
.right iframe{
    width:100%;
    height: 100%;

}
.left{
    text-align: center;
    height: 100%;
}
.secondhalf{
    background-color: floralwhite;
    height: 300px;
}
.upper{
    text-align: center;
}
.down iframe{
    width: 100%;
}